<% if error_code.present? %>
  <p class='error_message container'><%= error_code %></p>
<% end %>
<%= form_for Cg::Pet.new , url: mypage_pet_new_path() do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
    <%= print_form_error errors, :name %>
  </div>
  <div class="form-group">
    <%= f.label :petname %>
    <%= f.text_field :petname, class:'form-control' %>
    <%= print_form_error errors, :petname %>
  </div>
  <div class="form-group">
    <label><%= f.radio_button :types_id, 1 %> 犬 </label>
    <label><%= f.radio_button :types_id, 2 %> 猫 </label>
    <label><%= f.radio_button :types_id, 3 %> 鳥 </label>
    <label><%= f.radio_button :types_id, 4 %> 亀 </label>
    <label><%= f.radio_button :types_id, 5 %> 猿 </label>
    <label><%= f.radio_button :types_id, 6 %> 魚 </label>
  </div>
  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about, class:'form-control' %>
    <%= print_form_error errors, :about %>
  </div>
  <%= f.button type:'submit', class: 'btn btn-primary' %>
<% end %>
