<div class="pets-show">
  <div class="box-wrapper">
    <% if @pet.present? %>
      <%= link_to cg_users_path username: @pet.user.username do %>
        <div class="pet-user">
          <%= image_tag(@pet.user.icon, class: 'icon') %>
          <%= @pet.user.name %>
        </div>
      <% end %>
      <h1><%= @pet.name %></h1>
      <div class="profile-icon">
        <%= image_tag(@pet.icon, class: 'icon') %>
      </div>
      <p><%= @pet.petname %></p>
      <p>sex : <%= @pet.sex.value %></p>
      <p>type   : <%= @pet.type.name %></p>
      <p>about   : <%= @pet.about %></p>

      <% if session_user&.share_user_flag && @pet.share_flag %>
        <div class="share">
          <a href="<%= cg_shares_new_path @pet.petname %>" class ="square-btn">シェア申請</a>
        </div>
      <% end %>

      <div class="pet-detail">
        <h2>詳細情報</h2>
        <% detail = @pet.detail %>
        <table class='table'>
          <tr>
            <th>シェアする際の頭金</th>
            <td><%= detail.fixed_cost.presence || '未登録' %></td>
          </tr>
          <tr>
            <th>1時間あたりの料金</th>
            <td><%= detail.variable_cost.presence || '未登録' %></td>
          </tr>
          <tr>
            <th>1年以内の健康診断</th>
            <td><%= detail.medical.value %></td>
          </tr>
          <tr>
            <th>その他 注意事項</th>
            <td><%= detail.share_about.presence || '未登録' %></td>
          </tr>
        </table>
      </div>
    <% else %>
      <p>Pet not found</p>
    <% end %>
  </div>
</div>
