<style media="screen">
  .box_wrapper{
    width: 85%;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    margin-left: auto;
    margin-right: auto;
    padding: 20px ;
  }

  .box_wrapper .profile_icon{
    text-align:center;
    padding: 20px ;
  }

  .box_wrapper img{
    width:100px;
    height:100px;
  }

  .box_wrapper h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .box_wrapper h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .box_wrapper p {
    text-align: center;
  }

  .pet-list{
    border: solid white 2px;
    border-radius: 20px;
    text-align: center;
  }

  .pet-list h3{
    margin: 2rem;
  }

  .pet-list .pet{
    width: 120px;
    height: 160px;
    display: inline-block;
    border: dotted 5px white;
    margin: 2px;
    background-color: #eefaeb;
    border-radius: 10px 0px 10px 0;
  }

  .pet-list .pet a{
    display: block;
    color: black;
  }

  .pet-list .pet .icon{
    width: 100px;
    height: 100px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pet-list .pet p{
    text-align: center;
    color: black;
    font-size: 1.5rem;
  }

  .edit_prof{
    text-align: right;
    margin-top: 2rem;
  }

  .edit_prof a{
    display: block;
  }

  .user_detail{
    margin-top: 50px;
  }

  .user_detail p{
    text-align: left;
  }

  .user_detail tr.empty{
    background-color: #fce6e6;
  }

  .share_info{
    text-align: center;
    width: 28rem;
    padding: 3px;
    background-color: #c2f5ba;
    margin-left: auto;
    margin-bottom: 20px;
    border: solid 2px gray;
    border-radius: 30px;
    font-size: 24px;
  }

  .pet .share_info{
    font-size: 12px;
    width: 10rem;
    margin: 0 auto;
  }

  .share_info_false{
    background-color: #bcd4f4;
  }
</style>

<% if @user.present? %>
  <div class="box_wrapper">
    <% if @user.share_host_info == 15 %>
      <div class="share_info">
        シェア可能（ホスト）
      </div>
    <% else %>
      <div class="share_info share_info_false">
        シェア不可（ホスト）
      </div>
    <% end %>
    <h1><%= @user.name %></h1>
    <div class="profile_icon">
      <%= image_tag(@user.icon, class: 'icon') %>
    </div>
    <p><%= @user.username %></p>
    <p>E-mail : <%= @user.email %></p>
    <p>About   : <%= @user.about %></p>
    <br>
    <div class="pet-list">
    <h3>ペットリスト</h3>
      <% if @user.pets.present? %>
        <% @user.pets.each do |pet| %>
          <div class="pet">
            <% if pet.share_pet_info == 17 %>
              <div class="share_info">
                シェア可能
              </div>
            <% else %>
              <div class="share_info share_info_false">
                シェア不可
              </div>
            <% end %>
            <a href="<%= mypage_pet_path petname: pet.petname %>">
              <table>
                <tr>
                  <td><%= image_tag(pet.icon, class:'icon') %></td>
                </tr>
                <tr>
                  <td><p><%= pet.name %></p></td>
                </tr>
              </table>
            </a>
          </div>
        <% end %>
      <% else %>
        <p>ペットは登録されていません</p>
      <% end %>
    </div>

    <div class="user_detail">
      <h2>詳細情報</h2>
      <p>(※企業の方は「性別」「年齢」の記載は不要です)</p>
      <% detail = @user.detail %>
      <table class='table'>
        <tr <%= 'class = empty' unless detail.last_name.present? %>>
          <th>姓</th>
          <td><%= detail.last_name.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.first_name.present? %>>
          <th>名</th>
          <td><%= detail.first_name.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.age.present? %>>
          <th>年齢</th>
          <td><%= detail.age.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' if detail.sex_info == 100 %>>
          <th>性別</th>
          <td><%= detail.sex.value %></td>
        </tr>
        <tr <%= 'class = empty' if detail.country_info == 100 %>>
          <th>国籍</th>
          <td><%= detail.country.value %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.address.present? %>>
          <th>住所</th>
          <td><%= detail.address.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' if detail.document_info == 100 %>>
          <th>本人確認書類</th>
          <td><%= detail.document.value %></td>
        </tr>
      </table>
    </div>
    <div class="edit_prof">
      <%= link_to '新規ペット追加', mypage_pet_new_path, class: 'mb-1' %>
      <br>
      <%= link_to 'プロフィールを編集', setting_path %>
    </div>
  <% else %>
    <p>urlが間違っています</p>
  <% end %>
</div>
