<% if error_code.present? %>
  <p class='error-message container'><%= error_code %></p>
<% end %>
<%= form_for Cg::User.new, url: { action: 'pass_check' } do |f| %>
  <div class="form-group">
    <%= f.label 'ユーザ名' %>
    <%= f.text_field :username, class:'form-control', value:user&.username %>
  </div>
  <div class="form-group">
    <%= f.label 'パスワード' %>
    <%= f.password_field :password, class:'form-control', value:user&.password %>
  </div>
  <div class="submit-area">
    <%= f.button type:'submit', class: 'submit-btn' do %>ログイン
  </div>
  <% end %>
<% end %>
