<script type="text/javascript">
function submitAction(url) {
  $('form').attr('action', url);
  $('form').submit();
}
</script>
<% if error_code.present? %>
  <p class='error_message container'><%= error_code %></p>
<% end %>
<%= form_for Cg::User.new, url: '' do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class:'form-control', value:user&.username %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class:'form-control', value:user&.password %>
  </div>
  <button name="button" type="button" class="btn btn-primary" onclick="submitAction('<%= login_request_path(user_mode: 'HOST') %>')" >
    ペットを貸す
  </button>
  <button name="button" type="button" class="btn btn-primary" onclick="submitAction('<%= login_request_path(user_mode: 'USER') %>')" >
    ペットを借りる
  </button>
<% end %>
