<h1>~mypage~</h1>
<h2><% @user.name %></h2>
<Hr>
<h1><%= @user[:name] %></h1>
<h2><%= @user[:id] %></h2>
<p><%= @user[:username] %></p>
<ul>
    <li>E-mail : <%= @user[:email] %></li>
    <li>About   : <%= @user[:about] %></li>
</ul>
<h3>pet_list</h3>
<% if @pet_list.present? %>
  <ul>
    <% @pet_list.each do |pet| %>
      <li><%= pet.name %>:<%= pet.types_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>ペットが登録されていません</p>
<% end %>
