<style media="screen">
  .box_wrapper{
    width: 85%;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    margin-left: auto;
    margin-right: auto;
    padding: 20px ;
  }

  .box_wrapper .profile_icon{
    text-align: center;
    padding: 20px ;
  }

  .box_wrapper img{
    width: 100px;
    height: 100px;
  }

  .box_wrapper h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .box_wrapper h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .box_wrapper p {
    text-align: center;
  }

  .edit_prof{
    text-align: right;
  }

  .user_detail{
    margin-top: 50px;
  }

  .user_detail p{
    text-align: left;
  }

  .user_detail tr.empty{
    background-color: #fce6e6;
  }

  .share_info{
    text-align: center;
    width: 28rem;
    padding: 3px;
    background-color: #c2f5ba;
    margin-left: auto;
    margin-bottom: 20px;
    border: solid 2px gray;
    border-radius: 30px;
    font-size: 24px;
  }

  .share_info_false{
    background-color: #bcd4f4;
  }
</style>

<% if @user.present? %>
  <div class="box_wrapper">
    <% if @user.share_user_info == 13 %>
      <div class="share_info">
        シェア可能（ユーザー）
      </div>
    <% else %>
      <div class="share_info share_info_false">
        シェア不可（ユーザー）
      </div>
    <% end %>
    <h1><%= @user.name %></h1>
    <div class="profile_icon">
      <%= image_tag(@user.icon, class: 'icon') %>
    </div>
    <p><%= @user.username %></p>
    <p>E-mail : <%= @user.email %></p>
    <p>About   : <%= @user.about %></p>
    <div class="user_detail">
      <h2>詳細情報</h2>
      <p>(※企業の方は「性別」「年齢」の記載は不要です)</p>
      <% detail = @user.detail %>
      <table class='table'>
        <tr <%= 'class = empty' unless detail.last_name.present? %>>
          <th>姓</th>
          <td><%= detail.last_name.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.first_name.present? %>>
          <th>名</th>
          <td><%= detail.first_name.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.age.present? %>>
          <th>年齢</th>
          <td><%= detail.age.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' if detail.sex_info == 100 %>>
          <th>性別</th>
          <td><%= detail.sex.value %></td>
        </tr>
        <tr <%= 'class = empty' if detail.country_info == 100 %>>
          <th>国籍</th>
          <td><%= detail.country.value %></td>
        </tr>
        <tr <%= 'class = empty' unless detail.address.present? %>>
          <th>住所</th>
          <td><%= detail.address.presence || '未登録' %></td>
        </tr>
        <tr <%= 'class = empty' if detail.document_info == 100 %>>
          <th>本人確認書類</th>
          <td><%= detail.document.value %></td>
        </tr>
      </table>
    </div>
    <div class="edit_prof">
      <br>
      <%= link_to 'プロフィールを編集', setting_path %>
    </div>
  </div>
<% else %>
  <p>urlが間違っています</p>
<% end %>
