<div class="users-show">
  <% if @user.present? %>
    <div class="box-wrapper">
      <h1><%= @user.name %></h1>
      <div class="profile-icon">
        <%= image_tag(@user.icon_url, class: 'icon') %>
      </div>
      <p><%= @user.username %></p>
      <p>E-mail : <%= @user.email %></p>
      <p>About   : <%= @user.about %></p>
      <br>
      <h3>ペットリスト</h3>
      <% if @user.pets.present? %>
        <div class="pet-list">
          <% @user.pets.each do |pet| %>
            <div class="pet">
              <a href="<%= cg_pets_path petname: pet.petname %>">
                <table>
                  <tr>
                    <td><%= image_tag(pet.icon_url, class:'icon') %></td>
                  </tr>
                  <tr>
                    <td><p><%= pet.name %></p></td>
                  </tr>
                </table>
              </a>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>ペットが登録されていません</p>
      <% end %>
    <% else %>
      <p>urlが間違っています</p>
    <% end %>
  </div>
</div>
