<div class="share_state_space">

</div>
<div class="dm-room-box">
  <div class="dm-space">
    <%= link_to_next_page(@dms, 'もっと見る', remote: true, id: 'next', class: 'next', params: {log_disp_id: @log_disp_id }) if @dms.present? %>
    <div class="dm-scroll-field" id="dm_scroll_field">
      <div id="dm_list" class="dm-list">
        <%= render partial: '/cg/dms/dm', collection: @dms.reverse, locals: { user: @user } %>
      </div>
    </div>
    <div class="send-form">
      <%= render partial: '/cg/dms/new_form', locals: { dm_group: @dm_group } %>
    </div>
  </div>
  <div class="share-detail-box" id="share_detail_box">
    <div class="share-detail" id="share_detail">
    </div>
  </div>
</div>
<script>
  var channel = 'DmChannel';
  var dm_group = <%= @dm_group.id %>;
  var user_id = <%= @user.id %>;
  App.cable.subscriptions.create({channel: channel, dm_group: dm_group}, {
    connected: function () {
      console.log('connected')
    },
    disconnected: function () {

    },
    rejected: function () {

    },
    received: function (data) {
      message = $(data.html)
      message[0].setAttribute('class',data.user_id == user_id ? 'dm-my' : 'dm-other');
      message.appendTo('#dm_list').hide().fadeIn('slow');
      $("#dm_scroll_field").animate({scrollTop:$("#dm_scroll_field").scrollTop()+message.height()*2});
    }
  });
  $("#dm_scroll_field").animate({scrollTop:$("#dm_scroll_field").height()});
</script>
