<div class="cg-app-home">
  <div class="pet-list">
    <div class="title-box center-block">
      <h1>おすすめペット</h1>
    </div>
    <ul class="works-grid works-grid-masonry works-grid-3 works-hover-w" id="works-grid">
      <% Cg::Pet.all.each do |pet| %>
        <li class="work-item marketing webdesign">
          <a href="<%= cg_pets_path petname: pet.petname %>">
            <div class="work-image"><%= image_tag(pet.icon, size: '300x300') %></div>
            <div class="work-caption font-alt">
              <h3 class="work-title"><%= pet.name %></h3>
              <div class="work-descr"><%= pet.about %></div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="user-list">
    <div class="title-box center-block">
      <h1>人気ホスト</h1>
    </div>
    <div class="container home-container">
      <h3 style="color:black;">人気ホスト</h3>
      <ul class="user-list">
        <% Cg::User.all.where.not(id: @user.id).each do |user| %>
        <li><a href="<%= cg_users_path username: user.username %>"><%= user.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="worksslider inside">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag('sample/person/man_1.jpg', size: '300x300') %>
          <div class="carousel-caption">
            キャプション
          </div>
        </div>
      <div class="item">
        <%= image_tag('sample/person/woman_1.jpg', size: '300x300') %>
        <div class="carousel-caption">
          キャプション
        </div>
      </div>
      <div class="item">
        <%= image_tag('sample/person/woman_2.jpg', size: '300x300') %>
        <div class="carousel-caption">
          キャプション
        </div>
      </div>
    </div>

<!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
