<style media="screen">
  .slide{
    background: #e8fce5;
    border-radius: 20px;
    margin: 20px 0px;
    text-align: center;
    padding: 5px;
  }
  .slide img{
    width: 80%;
    height: auto;
  }

  @keyframes backcoloranim_a {
    0% {background-color: #e8fce5;}
    100% {background-color: white;}
  }

  @keyframes backcoloranim_d {
    0% {background-color: white;}
    100% {background-color: #e8fce5;}
  }

  .slide.active{
    background-color: white;
    animation: backcoloranim_a 0.8s ease 0s 1 normal;
  }

  .slide.disable{
    background-color: #e8fce5;
    animation: backcoloranim_d 0.8s ease 0s 1 normal;
  }

  #pageContent{
    max-width: none;
    width: 95%;
  }

  .slide .loginlink{
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px;
    font-size: 30px;
    color: gray;
    width: 400px;
    background-color: #0000001c;
    box-shadow: black 0 0 5px;
  }

  .slide.active .loginlink{
    background-color: white;
  }

  .slide .loginlink:hover{
    text-decoration: none;
    background-color: #c5c5c5;
  }

</style>

<script src="/assets/slides.js"></script>

<h1>CuteGiftへようこそ</h1>
<div id="slides">
  <div class='slide'>
    <h1 style='font-size:48px;line-height:3;'>～ペットの癒しをすぐそこに～</h1>
    <%= link_to '今すぐ始める', login_path, class: "loginlink" %>
    <!-- ペットの癒しをすぐそこに -->
  </div>
  <div class='slide'>
    <h3 style='font-size:36px;line-height:4;'>CuteGiftとは</h3>
    <h3 style='font-size:30px;line-height:3;'>「ペットの癒しを共有するソーシャルネットワークサービス」</h3>
    <!-- 概要 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_3.png") %>
    <!-- こんな悩みありませんか？ -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_4.png") %>
    <!-- そんなあなたに！ -->
  </div>
  <h2 style='font-size:36px;'>use</h2>
  <div class='slide'>
    <%= image_tag("slide/slide_5.png") %>
    <!-- CtoCの側面について -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_6.png") %>
    <!-- BtoCの側面について -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_7.png") %>
    <!-- シェアの諸条件 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_8.png") %>
    <!-- シェアする場所 -->
  </div>
  <h2 style='font-size:36px;'>メリット</h2>
  <div class='slide'>
    <%= image_tag("slide/slide_9.png") %>
    <!-- ペットを飼っている人 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_10.png") %>
    <!-- ペットを飼えない人 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_11.png") %>
    <!-- ペットショップ -->
  </div>
  <h2 style='font-size:36px;'>ペットをシェアするって不安じゃない？</h2>
  <div class='slide'>
    <%= image_tag("slide/slide_12.png") %>
    <!-- 運営による厳正な審査 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_13.png") %>
    <!-- 審査 具体的な内容 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_14.png") %>
    <!-- 相互評価 -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_15.png") %>
    <!-- シェアトラブル -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/slide_16.png") %>
    <!-- 人がペットを傷つける・ペットが人を傷つける -->
  </div>
  <div class='slide'>
    <%= image_tag("slide/cg_logo_serif.png") %>
    <%= link_to '今すぐ始める', login_path, class: "loginlink" %>
    <!-- ペットの癒しをすぐそこに　再掲 -->
  </div>
</div>
