<style>
  .bootstrap-date{
    width:auto;
    display:inline-block;
  }
</style>

<div class="update_share_info">
  <% case share.share_info %>
  <% when 1 then %>
    <%= button_to 'キャンセル', cg_shares_path(share.id), method: :patch, params: { method: :update_info_user, share_info: 4 } %>
  <% when 2 then %>
    <%= button_to 'キャンセル', cg_shares_path(share.id), method: :patch, params: { method: :update_info_user, share_info: 4 } %>
  <% when 3 then %>
    <%= button_to '再申請', cg_shares_path(share.id), method: :patch, params: { method: :update_info_user, share_info: 1 } %>
  <% end %>
</div>

<%= form_for share, url: { action: 'update', controller: 'cg/shares', share_id: share.id } do |f| %>
  <input name="method" value="update_user" type="hidden" />
  <%= f.fields_for share.detail do |ff| %>
    <div class = "form-group">
      <%= ff.label :facility_id %>
      <% share.pet.facilities.each do |facility| %>
        <label><%= ff.radio_button :facility_id, facility.id %><%= facility.name %></label>
      <% end %>
    </div>
    <div class = "form-group">
      <%= ff.label :start %>
      <%= ff.datetime_select :start, {use_month_numbers: true}, {class: "form-control bootstrap-date"} %>
    </div>
    <div class = "form-group">
      <%= ff.label :end %>
      <%= ff.datetime_select :end, {use_month_numbers: true}, {class: "form-control bootstrap-date"} %>
    </div>
    <div class = "form-group">
      <%= ff.label :fixed_cost %>
      <%= ff.number_field :fixed_cost, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <%= ff.label :variable_cost %>
      <%= ff.number_field :variable_cost, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.button 'シェア条件を更新する', type:'submit', class: 'btn btn-primary' %>
<% end %>
