<style media="screen">
  .share-user-list .share{
    background: #e8fce5;
    color: black;
    border-radius: 20px;
    height: 200px;
    width: 80%;
    margin: 20px 40px;
    padding: 10px;
  }

  .share-user-list .icon{
    width: 60px;
    height: 60px;
  }
</style>

<h1>あなたが申請したシェア一覧</h1>
<hr>
<% if user.share_user_flag %>
  <% unless user.user_shares.empty? %>
    <div class="active">
      <h2>～～進行中～～</h2>
      <% shares_array(user.user_shares)[:active].each do |shares| %>
        <% shares.each do |share| %>
          <a href="<%= cg_shares_path share.id %>">
            <div class='share'>
              <h3>
                <%= image_tag(share.pet.icon_url, class: 'icon') %>
                <%= share.pet.name %>
              </h3>
              <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
              <p><%= share.info.value %></p>
              <hr>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="finished">
      <h2>終了したシェア</h2>
      <% shares_array(user.user_shares)[:finished].each do |shares| %>
        <% shares.each do |share| %>
          <a href="<%= cg_shares_path share.id %>">
            <div class='share'>
              <h3>
                <%= image_tag(share.pet.icon_url, class: 'icon') %>
                <%= share.pet.name %>
              </h3>
              <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
              <p><%= share.info.value %></p>
              <hr>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2>~shared nothing~</h2>
  <% end %>
<% else %>
  <p>シェア条件を満たしていません</p>
<% end %>
