<style>
  .fixed .navbar>:not(.container-fluid){
    display: none;
  }

  .navbar{
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
  }

  .fixed .navbar{
    border: double 5px #FFFFFF;
    border-top: 0px;
    background: linear-gradient(to bottom, #ffffffbd 0, #ffffff6e 100%);
    position: fixed;
    top: 0;
    margin-left: 0px;
    transition: all 0.5s ease;
  }

  .fixed.toggled .navbar{
    margin-left: 250px;
    transition: all 0.5s ease;
  }

  .fixed.toggled .navbar.none-anim{
    transition: none;
  }

  .fixed .navbar.none-anim{
    transition: none;
  }

  .btn-secondary{
    top: 56px;
    right:50px;
  }

</style>
<header>
  <div id="navbar-space" style="height: 210px;"></div>
  <nav class="navbar navbar-default">
    <div class="col-sm-12">
      <%= link_to image_tag('icon/logo/title_1.png', class: "title_logo"), controller: 'cg_app', action: 'index' %>
    </div>
    <div class="container-fluid">
      <%= image_tag('icon/etc/b_33.png', size: '50x50', class: 'btn btn-secondary', id: 'menu-toggle') %>

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <%= image_tag("icon/etc/b_73.png",:size => "20x20") %>
        </button>
        <!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->
        <!-- <a class="navbar-brand" href="<%= index_path %>">CuteGift</a> -->
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= render 'cg/layouts/menu_bar' %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <script>

    $(window).load(function(){
      var $navbar = $(".navbar")[0];

      $("#navbar-space").animate({height: $navbar.offsetTop + $navbar.offsetHeight + "px"});
      // ヘッダー箇所の空間のheightの調整

      var $navbar_header = $(".navbar-header")[0];
      let scroll = $navbar_header.offsetTop;
      var $window = $(window);
      var $body = $("body");

      $(window).scroll(function() {
        if($window.scrollTop() > scroll){
          $body.addClass("fixed");
          if($body.hasClass("toggled")){
            $(".navbar").addClass("none-anim");
          }else{
            $(".navbar").removeClass("none-anim");
          }
        }else if($window.scrollTop() < scroll){
          $body.removeClass("fixed");
          if($body.hasClass("toggled")){
            $(".navbar").addClass("none-anim");
          }else{
            $(".navbar").removeClass("none-anim");
          }
        }
      });
    });

  </script>
</header>
