<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="col-sm-12">
        <%= link_to image_tag("CuteGift_logo.png",:class =>"title_logo"), :action => "index"%>
      </div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= index_path %>">CuteGift</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if session[:login_state] == 'OK' %>
          <li><a href="<%= mypage_root_path %>">myPage</a></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">シェアとは？</a></li>
              <li><a href="#">おすすめ</a></li>
              <li><a href="#">利用規約</a></li>
              <% if share_info_flag %>
                <li role="separator" class="divider"></li>
                <li><a href="<%= share_list_path %>">シェアリスト</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">シェア履歴</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
          <% if session[:login_state] == 'OK' %>
          <li><a href="<%= change_user_mode_path(user_mode: "HOST") %>">ChangeMode</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= Cg::User.find_by(:id => session[:user_id])[:name]%>さん<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= logout_path %>">Logout</a></li>
              <li><a href="<%= mypage_root_path %>">My Page</a></li>
              <li><a href="#">Something</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= setting_root_path %>">Setting</a></li>
            </ul>
          </li>
          <% else %>
            <li><a href="/CuteGift/login">Login</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
