<div class="consent-status">
  <% case share.share_info %>
  <% when 101 then %>
  <% when 102 then %>
    <div class="consent-caption">
      <h4>以下の条件でのシェアを拒否する。</h4>
    </div>
    <% if share.complete? %>
      <%= button_to 'シェア条件確定', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 104 } %><br>
    <% end %>
    <%= button_to '拒否', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 152 } %>
  <% when 103 then %>
    <div class="consent-caption">
      <h4>変更後の条件に対する返答を選択する。</h4>
    </div>
    <%= button_to '条件変更要求', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 102 } %><br>
    <%= button_to 'シェア条件確定', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 104 } %><br>
    <%= button_to '拒否', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 152 } %>
  <% when 104 then %>
    <div class="consent-caption">
      <h4>条件を確認しシェアを開始する。</h4>
    </div>
    <%= button_to 'シェア開始', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 105 } %>
    <%= button_to 'シェアのキャンセル', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 155 } %>
  <% when 105 then %>
    <div class="consent-caption">
      <h4>シェアを終了する。</h4>
    </div>
    <%= button_to 'シェア終了', cg_shares_edit_path(share.id), method: :patch, remote: true, params: { method: :update_info_host, share_info: 106 } %>
  <% end %>
</div>
