<style media="screen">
  .share-host-list .share{
    background: #e5f3fc;
    color: black;
    border-radius: 20px;
    width: 80%;
    margin: 20px 40px;
    padding: 10px;
  }

  .share-host-list .icon{
    width: 60px;
    height: 60px;
  }
</style>

<h1>申請されたシェア</h1>
<hr>
<% if user.share_host_flag %>
  <% user.pets.each do |pet| %>
  <h2>
    <%= image_tag(pet.icon_url, class: 'icon') %>
    <%= pet.name %>　に対する申請
  </h2>
    <% unless pet.shares.empty? %>
      <div class="active">
        <h2>～～進行中～～</h2>
        <% shares_array(pet.shares)[:active].each do |shares| %>
          <% shares.each do |share| %>
            <a href="<%= cg_shares_path share.id %>">
              <div class='share'>
                <h3>
                  <%= image_tag(share.user.icon_url, class: 'icon') %>
                  <%= share.user.name %>　からの申請
                </h3>
                <hr>
                <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
                <p>状態：<%= share.info.value %></p>
              </div>
            </a>
            <% if share.share_info == 101 %>
              <%= button_to '許可', cg_shares_edit_path(share.id), method: :patch, params: { method: :update_info_host, share_info: 102 } %>
              <%= button_to '拒否', cg_shares_edit_path(share.id), method: :patch, params: { method: :update_info_host, share_info: 152 } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="finished">
        <h2>終了したシェア</h2>
        <% shares_array(pet.shares)[:finished].each do |shares| %>
          <% shares.each do |share| %>
            <a href="<%= cg_shares_path share.id %>">
              <div class='share'>
                <h3>
                  <%= image_tag(share.user.icon_url, class: 'icon') %>
                  <%= share.user.name %>　からの申請
                </h3>
                <hr>
                <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
                <p>状態：<%= share.info.value %></p>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <p>~shared nothing~</p>
    <% end %>
  <% end %>
<% else %>
  <p>シェア条件を満たしていません</p>
<% end %>
