<h1>申請されたシェア</h1>
<hr>
<% if user.share_host_flag %>
  <% user.pets.each do |pet| %>
    <% if pet.shares.present? %>
    <h1><%= pet.name %></h1>
    <div class="active">
      <div class="status-ribbon">
        <h2>進行中</h2>
      </div>
      <% shares_array(pet.shares)[:active].each do |shares| %>
        <% shares.each do |share| %>
          <div class='share-card'>
            <h3>
              <%= image_tag(share.user.icon_url, class: 'icon') %>
              <%= share.user.name %>　からの申請
            </h3>
            <hr>
            <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
            <p>状態：<%= share.info.value %></p>
            <% if share.share_info == 101 %>
              <%= button_to '許可', cg_shares_edit_path(share.id), method: :patch, params: { method: :update_info_host, share_info: 102 } %>
              <%= button_to '拒否', cg_shares_edit_path(share.id), method: :patch, params: { method: :update_info_host, share_info: 152 } %>
            <% end %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shareDetail">
              詳細確認
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="finished">
      <div class="status-ribbon">
        <h2>終了したシェア</h2>
      </div>
      <% shares_array(pet.shares)[:finished].each do |shares| %>
        <% shares.each do |share| %>
          <div class='share-card'>
            <h3>
              <%= image_tag(share.user.icon_url, class: 'icon') %>
              <%= share.user.name %>　からの申請
            </h3>
            <hr>
            <p><%= share.detail.start&.strftime('%Y年%m月%d日') %></p>
            <p>状態：<%= share.info.value %></p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shareDetail">
              詳細確認
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
    <% else %>
      <p>シェアはありません</p>
    <% end %>
  <% end %>
<% else %>
  <p>シェア条件を満たしていません</p>
<% end %>
