<h1>シェア詳細_ホスト</h1>
<% if @share.present? %>
  <ul>
    <li>id:<%= @share.id %></li>
    <li>host:<%= @share.pet.user.name %></li>
    <li>pet:<%= @share.pet.name %></li>
    <br>
    <li>user:<%= @share.user.name %></li>
    <li>info:<%= @share.info.value %></li>
  </ul>
<% else %>
  <p>error</p>
<% end %>
