<div class = "shares-new-form">
  <% if share.present? %>
    <%= form_for share, url: { action: 'create'} do |f| %>
      <%= f.fields_for share.detail do |ff| %>
        <div class = "form-group">
          <div class="apply-item">
            <h3>シェア場所 ※必須</h3>
            <% pet&.facilities.each do |facility| %>
              <label><%= ff.radio_button :facility_id, facility.id %><%= facility.name %></label>
            <% end %>
          </div>
        </div>
        <div class="apply-item">
          <h3>シェア日時</h3>
          <div class="host-demand">
            <p>規定シェア可能時間：12:00～19:00</p>
          </div>
          <div class="row share-date">
            <input id="share_date" class="flatpickr" name="cg_share[cg_share_detail][date_val]" type="text" placeholder="シェア日付" readonly="readonly">
          </div>
          <div class="row">
            <div class="col-sm-2">
              開始時間
            </div>
            <div class = "form-group col-sm-5">
              <div class="share-date-time">
                <input id="share_start" class="flatpickr" name="cg_share[cg_share_detail][start_val]" type="text" placeholder="シェア開始時刻" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              終了時間
            </div>
            <div class = "form-group col-sm-5">
              <div class="share-date-time">
                <input id="share_end" class="flatpickr" name="cg_share[cg_share_detail][end_val]" type="text" placeholder="シェア終了時刻" readonly="readonly">
              </div>
            </div>
          </div>
        </div>
        <div class="apply-item">
          <h3>シェア料金</h3>
          <div class = "form-group">
            <div class="host-demand">
              <p>ホスト要望：<%= @pet.detail.fixed_cost %></p>
            </div>
            <%= ff.label "頭金" %>
            <%= ff.number_field :fixed_cost, class: 'form-control' %>
          </div>
          <div class = "form-group">
            <div class="host-demand">
              <p>ホスト要望：<%= @pet.detail.variable_cost %></p>
            </div>
            <%= ff.label "1時間ごとの料金" %>
            <%= ff.number_field :variable_cost, class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="share-pet-info">
        <hr>
        <%= image_tag(@pet.icon_url, class: 'icon center-block') %>
        <h3><%= @pet.name %>のシェア情報</h3>
        <div class="attention">
          <span class="attention-title">留意事項</span>
          <p><%= @pet.detail.share_about %></p>
        </div>
        <hr>
      </div>
      <div class="consent-area">
        <div class="checkbox">
          <label><input type="checkbox"><a href="">利用規約</a>を確認、同意しました。</label>
        </div>
      </div>
      <div class="submit-area">
        <%= f.button type:'submit', class: 'submit-btn' do %>送信<% end %>
      </div>
    <% end %>
  <% end %>
  <script type="text/javascript">
    flatpickr('#share_date',{
      dateFormat: "Y-m-d 0:0",
      inline: true,
      defaultDate: "<%= share.detail.start %>"
    });

    flatpickr('#share_start',{
      noCalendar: true,
      enableTime: true,
      dateFormat: "H:i",
      defaultDate: "<%= share.detail.start %>"
    });

    flatpickr('#share_end',{
      noCalendar: true,
      enableTime: true,
      dateFormat: "H:i",
      defaultDate: "<%= share.detail.end %>"
    });

    function parseForm(date){
      console.log(date);
    }
  </script>

  <style>
    #share_date {
      display: none;
    }

    .share-date .flatpickr-calendar.inline {
      display: block;
      position: inherit;
      top: 2px;
      margin: 0 auto;
      margin-top: 10px;
    }
    
    .flatpickr-current-month input.numInput.cur-year {
        margin-top: 0px;
    }

    .flatpickr-current-month {
      width: 100%;
    }

    .shares-new-form .apply-item .flatpickr-prev-month{
      top: unset;
      left: unset;
      right: unset;
    }

    .shares-new-form .apply-item .flatpickr-next-month {
      top: unset;
      position: relative;
    }
  </style>
</div>
