<div class = "shares-new-form">
  <% if share.present? %>
    <%= form_for share, url: { action: 'create'} do |f| %>
      <%= f.fields_for share.detail do |ff| %>
        <div class = "form-group">
          <div class="apply-item">
            <h3>シェア場所 ※必須</h3>
            <% pet&.facilities.each do |facility| %>
              <label><%= ff.radio_button :facility_id, facility.id %><%= facility.name %></label>
            <% end %>
          </div>
        </div>
        <div class="apply-item">
          <h3>シェア日時</h3>
          <div class="host-demand">
            <p>規定シェア可能時間：12:00～19:00</p>
          </div>
          <div class="row">
            <div class = "form-group col-sm-5">
              <div class="share-date-time">
                <input id="share_start" class="flatpickr" name="cg_share[cg_share_detail][start_val]" type="text" placeholder="シェア開始日時" readonly="readonly">
              </div>
            </div>
            <div class="col-sm-1">
              <h2>～</h2>
            </div>
            <div class = "form-group col-sm-5">
              <div class="share-date-time">
                <input id="share_end" class="flatpickr" name="cg_share[cg_share_detail][end_val]" type="text" placeholder="シェア終了日時" readonly="readonly">
              </div>
            </div>
          </div>
        </div>
        <div class="apply-item">
          <h3>シェア料金</h3>
          <div class = "form-group">
            <div class="host-demand">
              <p>ホスト要望：<%= @pet.detail.fixed_cost %></p>
            </div>
            <%= ff.label "頭金" %>
            <%= ff.number_field :fixed_cost, class: 'form-control' %>
          </div>
          <div class = "form-group">
            <div class="host-demand">
              <p>ホスト要望：<%= @pet.detail.variable_cost %></p>
            </div>
            <%= ff.label "1時間ごとの料金" %>
            <%= ff.number_field :variable_cost, class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="submit-area">
        <%= f.button type:'submit', class: 'submit-btn' do %>送信<% end %>
      </div>
    <% end %>
  <% end %>
  <script type="text/javascript">
    const config = {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    }
    flatpickr('.flatpickr', config);

    function parseForm(date){
      console.log(date);
    }
  </script>
</div>
