<!DOCTYPE html>
<% user_mode = 'NULL' %>
<% if session[:login_state] == 'OK' %>
  <% user_mode = 'HOST' if session[:user_mode] == 'HOST' %>
  <% user_mode = 'USER' if session[:user_mode] == 'USER' %>
<% end %>
<html>
  <head>
    <title>CuteGift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "<%= user_mode %>">
    <% if session[:user_mode] == 'HOST' %>
      <%= render "cg/layouts/host/header" %>
    <% else %>
      <%= render "cg/layouts/header" %>
    <% end %>
    <div id = "pageContent">
      <%= yield %>
    </div>
    <%= render "cg/layouts/footer"%>
  </body>
</html>
